:root{
--cor-fundo-nav-bar:#ffff;

}

.cinza-claro{
    background-color: #e6e6e6;
}

.mouse-hover-icone-select:hover{
    cursor: pointer;
}

.configuracoes-forms input {
    border-bottom: thin 2px;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .configuracoes-forms select {
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    padding:6px;
    background: rgb(243, 237, 237);
  }
  .configuracoes-forms input:focus,textarea:focus {
    outline: none;
  }

.btn-salvar{
    background: rgb(6, 158, 6);
color: white;
border: none;
transition: 0.2s;
padding: 8px 15px;
}
.btn-salvar:hover{
background: rgb(0, 83, 0);
    transition: 0.2s;
}


.btn-cancelar{
    background: rgb(255, 255, 255);
color: rgb(0, 0, 0);
border-bottom:thin 2px;
border-top: none;
border-left: none;
border-right: none;
transition: 0.2s;
padding: 8px 15px;
}
.btn-salvar:hover{
background: rgb(0, 83, 0);
    transition: 0.2s;
}

.hover-primario:hover{
    background: rgb(241, 235, 235);
}

.hover-secundario:hover{
    background: rgb(221, 221, 221);

}

.hover-secundario,.hover-primario{
    transition: 0.3s;

}

.hover-secundario:hover,.hover-primario:hover{
    transition: 0.3s;
    font-style: italic;

}

.rotate-180{
    transform: rotate(180deg);
}